@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>

</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.youtube.com"Image src="C:\Users\akpoj\Downloads\magnifying_glass_UK7_icon.ico"</a>.</p>



</div>

