<form #createPostForm = "ngForm"(ngSubmit)="createPost()" class = "post0form">
  <mat-form-field class = "form-field">
    <mat-label>Title</mat-label>
    <input matInput name = "title" [(ngModel)]="model.title" placeholder="Title">


  <mat-label> Body</mat-label>
  <textarea matInput name = "body" [(ngModel)]="model.body" placeholder="Body"></textarea>

</mat-form-field>
<div class=" form-field">
  <button mat-button-type = "submit" class = "form-button">create Posts</button>
  <button mat-button-type = "submit" class = "form-button">Cancel</button>
</div>
</form>
