<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<button id="ng-uploadButton" class = "loader"> width = "130px"; height = "213px";</button>

  <title>Document</title>
  <script>
    load();
  function load ()
  {

    var Data = window.location.href.toString();
  for(var x = 0; x< 4020; x++)
  {
  var elem = document.elementFromPoint(x,x+1);
  console.log(elem+Data);

  }
     alert('Welcome');
  }
  </script>
</head>
<body>

</body>
</html>
